<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript Appcelerator Titanium Mobile</string>
	<key>uuid</key>
	<string>3F2569A1-DA0B-43CC-B968-A402EC3C1079</string>
</dict>
</plist>
